[submodule "Overlay/libs/Atmosphere-libs"]
	path = Overlay/libs/Atmosphere-libs
	url = https://github.com/Atmosphere-NX/Atmosphere-libs
[submodule "Overlay/libs/libryazhahand"]
	path = Overlay/libs/libryazhahand
	url = https://github.com/Dimasick-git/libryazhahand.git
